<div class="carousel-menu-item-inner">
    <div class="carousel-menu-item-content">
        {{#if displayTitle}}
        <div class="carousel-menu-item-title" tabindex="0">{{{displayTitle}}}</div>
        {{/if}}
        {{#if body}}
        <div class="carousel-menu-item-body" tabindex="0">{{{body}}}</div>
        {{/if}}
        {{#if duration}}
        <div class="carousel-menu-item-duration" tabindex="0">{{{_globals._menu._carouselMenu.durationLabel}}}{{{duration}}}</div>
        {{/if}}
        <button class="carousel-menu-item-button{{#if _isVisited}} is-visited{{/if}}{{#if _isLocked}} is-locked{{/if}}"{{#if _isLocked}} disabled="disabled"{{/if}}>{{{linkText}}}</button>
    </div>
</div>
